*.css linguist-detectable=true
*.html linguist-detectable=true
*.tsx linguist-language=TypeScript
*.jsx linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.js linguist-language=JavaScript